/* Reset Style */
*{
    margin: 0;
    font-family: Arial;
}


.common-button{
    background-color: #055AD5;
    color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 15px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
}



/* Navbar Style */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 40px;
}

nav ul{
    display: flex;
    gap: 35px;
    list-style: none;    
}

nav ul li a{
    text-decoration: none;
}



/* Hero Section Style */
.hero-section{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(./assets/banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 85vh;
    width: 100%;
    color: white;  
    display: flex;
    justify-content: center;    
}

.hero-section div{
    text-align: center;
}

.hero-section h2{
    margin-top: 155px;
    padding: 25px 0;
    font-size: 3.3rem;
    font-weight: bold;
    text-align: center;
}

.make-italic{
    font-style: italic;
}

.hero-section p{
    margin-bottom: 180px;
    padding: 25px 0;
    font-size: 1.3rem;
    text-align: center;
}



/* Speaker Section Style */
.speaker-section{
    display: grid;
    justify-content: center;
}

.speaker-section h2{
    text-align: center;
    font-size: 45px;
    padding: 35px 0;
    margin-top: 25px;
}

.speaker-parent-card{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 35px;    
}

.speaker-card{
    border: 1px solid rgb(211, 207, 207);
    border-radius: 6px;  
}

.speaker-card p{
    padding: 15px 0;
    font-family: Calibri;
    font-size: 17px;
}

.speaker-card h3{
    font-size: 20px;
}





/* Pricing section Style */
.pricing-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pricing-heading{
    margin: 50px 0;
    padding: 20px 0;
    text-align: center;
}

.pricing-title{
    font-size: 37px;
}

.pricing-heading p{
    padding: 17px 0;    
    font-size: 18px;
}

.pricing-parent-card{
    display: flex;
    justify-content: space-between;
    gap: 35px;
}

.pricing-card{
    border: 1px solid rgb(201, 199, 199);
    border-radius: 10px;
    padding: 35px 45px;
    text-align: center;
}

.pricing-card .plan-name{
    padding: 5px 0;
}

.pricing-card .plan-price{
    padding: 10px 0 4px 0;
    font-size: 35px;
}

.pricing-card .plan-seat{
    margin-top: 5px;
    margin-bottom: 13px;
}

.plan-feature-list{
    padding: 25px 0;
    margin-bottom: 35px;  
    text-align: left;  
}

.pricing-button{
    padding: 10px 45px;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: #0064D2;
    font-weight: bold;
    font-size: 1rem;
}

.pricing-button-outline{
    padding: 10px 45px;
    border: none;
    border-radius: 10px;
    color: #0064D2;
    background-color: white;
    font-weight: bold;
    font-size: 1rem;
}

.feature-card{
    background-color: #0D1C2A;
    color: white;
    transform: scale(1.07);
}

